:root {
  --color-gray: #d8e2eb;
  --color-blue: #164f83;
  --color-text: #1f2937;
  --font-main: sans-serif;
}

body {
  background-color: var(--color-gray);
  color: var(--color-text);
  font-family: var(--font-main);
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

input, textarea {
  padding: 8px;
  box-sizing: border-box;
}
